body, div, ul, li, div {
  margin: 0px;
  padding: 0px;
  border: 0px;

  background-color: lightgrey;
}

.navbar {
  margin-top: 30px;
  text-align: center;

  border-radius: 5px;
  height: 500px;
  
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 30px;
  background-color: white;
}

.list{
  display: flex;
  flex-direction: row;

  display:inline-block;
  margin: 0 auto;

  border-radius: 3px;

  list-style: none;
}

li {
  padding: 10px;
  font-family: sans-serif;
  color: white;

  background-color: #1290be;
  cursor: pointer;
}

li:hover {
  background-color: #139ed0;
}

.entry {
  display:inline-block;
  border-right: 1px solid black;
  float: left;
  position: relative;
}

.entry:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.entry:last-child {
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.circle {
  background-color: #70cb4d;
  right: -6%;
  margin-top: -37px;
  color: white;
  position: absolute;

  text-align: center;
  font-size: 12px;
  width: 15px;
  height: 15px;
  border-radius: 25px;
  padding: 3px;

  z-index: 1;
}

.submenu {
  position: relative;
  display: inline-block;
}

.submenu:hover > ul {
  display: block;
}

.submenu > ul {
  display: none;
  background-color: #1290be;
  position: absolute;
  list-style: none;
  top: 100%;
  right: 0%;

  box-shadow: 0px 1px 1px #888888;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.long-menu{
  min-width: 250px;
}

.fit-menu {
  width: 100%;
}

@media (max-width: 800px) {
  .submenu {
    display: none;
  }
}

@media (max-width: 600px) {
  .navbar{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 0px;
  }

  .list{
    flex-direction: column;
    margin: 0;
    padding: 10 0px;
    width: 100%;
  }

  .entry {
    width: 100%;
    border: 0px;
  }

  .entry:first-child{
    border-radius: 0px;
  }

  .entry:last-child{
    border-radius: 0px;
  }

  li {
    padding: 10px 0px;
  }

  .circle {
    right: -1%;
    margin-top: -34px;
  }

  .submenu {
    display: none;
  }
}
